#graph-settings {
  position: absolute;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  background-color: #e6e6e6;
}

#graph-settings-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
}

#graph-mode-label {
  display: inline-block;

  height: 40px;
  line-height: 40px;

  padding: 0 25px 0 10px;

  background-image: url('../../../images/down_arrow.svg');
  background-size: 18px 18px;
  background-position: right center;
  background-repeat: no-repeat;

  color: white;
  font-size: 22px;
  font-weight: lighter;

  cursor: pointer;
}

.graph-settings-page {
  position: absolute;
  top: 40px;
  width: 100%;
}

.graph-settings-page-fields {
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);
}
