html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3498d8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#pentagons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  opacity: 0;
  
  -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s;
  -ms-transition: -ms-transform 0.7s, opacity 0.7s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}

#puzzle-name, #puzzles, .puzzle label, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#temp-scramble, #temp-last-scramble {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  z-index: -1;
}

#main-content {
  position: fixed;
  width: 100%;
  top: 44px;
  height: calc(100% - 344px);
}