#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  
  /* NOTE: the height is changed by code. */
  height: 300px;
  width: 100%;
  
  background-color: #f0f0f0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#footer .top {
  /* Don't let them select the top of the footer */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#footer .top {
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  width: 100%;
  
  background-color: white;
  text-align: center;
  
  cursor: row-resize;
}

#footer .top .tab {
  height: 44px;
  
  color: #999999;
  background-color: transparent;
  border: none;
  font-size: 22px;
  line-height: 44px;
  
  cursor: pointer;
}

#footer .top .tab:focus {
  outline: 0;
}

#footer .top .bar {
  position: absolute;
  /* This will be resized/moved around by a script */
  top: 44px;
  height: 5px;
  border-radius: 2.5px;
  display: none;
}

#footer .top .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 44px;
  width: 44px;
  
  border: none;
  cursor: pointer;
  
  background-color: transparent;
  background-image: url('../images/close.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

#footer .bottom {
  position: absolute;
  top: 49px;
  left: 0;
  height: calc(100% - 49px);
  width: 200%;
}

#footer .stats-contents {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
}

#footer .times, #footer .graph, #footer .stats {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: white;
}

#footer .times {
  left: 0;
  /* NOTE: the width will be changed by code. */
  width: 150px;
  border-top-right-radius: 5px;
}

#footer .graph {
  left: 155px;
  /* NOTE: the width will be changed by code. */
  width: calc(100% - 410px);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#footer .stats {
  right: 0;
  /* NOTE: the width will be changed by code. */
  width: 250px;
  border-top-left-radius: 5px;
}

#footer .settings-contents {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  
  background-color: white;
}
