#microwave {
  position: absolute;
  top: calc(50% - 175px);
  left: 0;
  
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: white;
}

#microwave:focus {
    outline: none;
}
