#middle {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  
  z-index: 1;
}

#middle .scramble {
  /* Invisible until code loads it. */
  visibility: hidden;
  
  display: inline-block;
  max-width: calc(100% - 100px);
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  
  color: white;
  
  font-size: 20px;
  background-color: transparent;
  border-radius: 10px;
  
  border: 3px solid white;
}

#middle .time {
  /* Invisible until code loads it. */
  display: none;
  
  position: absolute;
  width: 100%;
  height: 0;
  
  text-align: center;
  border: none;
  background-color: transparent;
  color: white;
  
  margin: 0;
  padding: 0;
}

#middle .time label {
  display: inline-block;
}

#middle .time .blinker {
  /* Invisible until code shows it. */
  display: none;
  
  position: absolute;
  top: 0;
  
  height: 100%;
  width: 1px;
  background-color: white;
}

#middle .memo-time {
  /* Invisible until code loads it. */
  display: none;
  
  position: absolute;
  width: 100%;
  
  text-align: center;
  color: white;
}

#middle .pb-status {
  /* Invisible until code loads it. */
  display: none;
  
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  
  color: white;
}