#header .name, #footer .top, #pentagons, #header, #puzzles, #time,
#memo-time, #pb-status, .popup .title, .add-popup .puzzle, .dropdown,
.dropdown-options-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
