#pentagons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pentagons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
