.puzzle {
  position: relative;
  width: 200px;
  height: 180px;
  top: 10px;
}

.puzzle .img-frame {
  width: 190px;
  height: 134px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #f15a5a;
}

.puzzle img {
  pointer-events: none;
  position: absolute;
  width: 120px;
  height: 120px;
  left: 35px;
  top: 7px;
}

.puzzle label {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #7e8284;
}
