.times {
  width: 100%;
}

.times .row {
  padding: 5px 5px 5px 5px;
  color: #6a6f71;
  font-size: 20px;
  background-color: white;
}

.times .delete {
  float: right;
  display: none;
}

.times .row:hover .delete {
  display: inline;
}

.times .row-selected {
  background-color: #dbeffa;
}

.times .row-selected {
  color: #3498d8;
}
