.add-popup-content {
  width: 490px;
  height: 200px;
  position: relative;
}

.add-popup-puzzle {
  position: absolute;
  top: calc(50% - 80px);
  left: 0;

  width: 180px;
  height: 160px;
  background-color: white;
}

.add-popup-puzzle-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: 114px;

  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
}

.add-popup-puzzle-label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;

  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #999999;
}

.add-popup-separator {
  position: absolute;
  left: 205px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #d5d5d5;
}

.add-popup-fields {
  position: absolute;
  left: 230px;
  width: calc(100% - 230px);
  height: 100%;
}

.add-popup-field {
  position: absolute;
  height: 30px;
  width: 100%;

  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.add-popup-label {
  display: inline-block;

  float: left;
  width: 85px;

  color: #999;
  font-size: 18px;

  height: 30px;
  line-height: 30px;
}

.add-popup-input-container {
  float: right;
  width: 160px;
  height: 30px;
  text-align: right;
}

.add-popup-text-input {
  width: calc(100% - 10px);
  height: 30px;

  padding: 0 5px;
  margin: 0;

  color: #999999;
  font-size: 18px;
  border: none;
}

.add-popup-text-input::-webkit-input-placeholder {
  color: #999999;
}

.add-popup-text-input::-moz-input-placeholder {
  color: #999999;
}

.add-popup-text-input::-ms-input-placeholder {
  color: #999999;
}

.add-popup-text-input:-moz-placeholder {
  color: #999999;
}

.add-popup-name-field {
  /* (100% - 30px*4) / 5 */
  top: 16px;
}

.add-popup-icon-field {
  /* 2*((100% - 30px*4) / 5) + 30px */
  top: 62px;
}

.add-popup-scrambler-field {
  /* 3*((100% - 30px*4) / 5) + 60px */
  top: 108px;
}

.add-popup-scrambleType-field {
  /* 4*((100% - 30px*5) / 6) + 90px */
  top: 123px;
  opacity: 0;
  pointer-events: none;

  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.add-popup-bld-field {
  /* 4*((100% - 30px*4) / 5) + 90px */
  top: 154px;
}

.add-popup-fields-all .add-popup-name-field {
  /* ((100% - 30px*5) / 6) */
  top: 8px;
}

.add-popup-fields-all .add-popup-icon-field {
  /* 2*((100% - 30px*5) / 6) + 30px */
  top: 47px;
}

.add-popup-fields-all .add-popup-scrambler-field {
  /* 3*((100% - 30px*5) / 6) + 60px */
  top: 85px;
}

.add-popup-fields-all .add-popup-bld-field {
  /* 5*((100% - 30px*5) / 6) + 120px */
  top: 162px;
}

.add-popup-fields-all .add-popup-scrambleType-field {
  opacity: 1;
  pointer-events: auto;
}
