.rename-popup-content {
  width: 500px;
  color: #999;
  font-size: 20px;
}

.rename-popup-content > label {
  margin-right: 10px;
}

.rename-popup-content > input {
  height: 30px;
  padding: 0 5px 0 5px;
  margin: 0;
  
  color: #999;
  font-size: 18px;
  border: none;
}