#puzzles-dropdown {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 10px;
  
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-container {
  display: inline-block;
  position: relative;
  
  padding-left: 10px;
  padding-right: 10px;
    
  width: 320px;
  max-height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown-container::webkit-scrollbar {
  width: 30px;
  background-color: #F5F5F5;
}

.dropdown-puzzle {
  display: inline-block;
  
  width: 60px;
  margin: 10px 10px 10px 10px;
  
  text-align: center;
}

.dropdown-puzzle label {
  display: block;
  
  white-space: nowrap;
  overflow: hidden;
  
  text-align: center;
  max-width: 60px;
  
  font-size: 15px;
}

.image-container {
  display: block;
  
  width: 60px;
  height: 60px;
  
  background-color: #f00;
  border-radius: 10px;
}

.image-container img {
  display: block;
  
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
  left: 10px;
}
