.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  height: 300px;
  width: 100%;
  display: none;
}

.tab-bar {
  height: 40px;
  width: 100%;
  background-color: #EEE;
  border-bottom: 2px solid #DCDCDC;
}

.tab-bar .filler {
  text-align: center;
}

.tabs {
  display: inline-block;
  margin-top: 7px;
}

.tab {
  font-family: inherit;
  
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  font-weight: 100;
  
  height: 26px;
  
  padding: 0px 15px 0 15px;
  
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.tab:focus {
  outline: 0;
}

.tab-selected {
  color: #FFF;
}

.page-footer .content {
  height: 260px;
  width: 100%;
}

.page-footer .footer-view {
  width: 100%;
  height: 100%;
}

.page-footer .footer-view-visible {
  display: block;
}

.page-footer .footer-view-hidden {
  display: none;
}

.page-footer .close-button {
  display: block;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
