#footer {
  transition: bottom 0.5s ease;
  -webkit-transition: bottom 0.5s ease;
  
  position: fixed;
  height: 300px;
  width: 100%;
  background-color: #FFF;
}

.footer-down {
  bottom: -260px;
}

.footer-up {
  bottom: 0;
}

.tab-bar {
  height: 40px;
  width: 100%;
  background-color: #EEE;
  border-bottom: 2px solid #DCDCDC;
}

.tab-bar .filler {
  text-align: center;
}

.close-button {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  
  height: 20px;
  width: 20px;
  
  cursor: pointer;
}

.tabs {
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  
  padding-top: 6px;
  display: inline-block;
}

.footer-up .tabs {
  opacity: 1.0;
}

.footer-down .tabs {
  opacity: 0.0;
}

.tab-button {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Open Sans', sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 100;
  
  height: 26px;
  
  margin-top: 1px;
  padding-top: 2px;
  padding-left: 15px;
  padding-right: 15px;
  
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background-color: transparent;
  
  cursor: pointer;
  border: none;
}

.tab-button:focus {
  outline: 0;
}

.tab-selected {
  color: #FFFFFF;
  background-color: #278cd9;
}

.tab-unselected {
  color: #278cd9;
  background-color: transparent;
}

#footer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-view {
  width: 100%;
  height: 100%;
}

.footer-view-hidden {
  display: none;
}

.footer-view-visible {
  display: block;
}

#session-view {
  background-color: #DDD;
}
