.page-header {
  font-size: 20px;
  
  width: 100%;
  height: 40px;
  
  position: fixed;
  top: 0;
  left: 0;
  
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

body.uninitialized .page-header {
  display: none;
}

body.before-load-animation .page-header, body.blurred .page-header {
  transform: translate(0px, -30px);
  -webkit-transform: translate(0px, -30px);
  opacity: 0.0;
}

body.load-animation .page-header, body.blurring .page-header {
  transition: transform 1.0s ease, opacity 1.0s ease;
  -webkit-transition: -webkit-transform 1.0s ease, opacity 1.0s ease;
}

body.loaded .page-header {
  pointer-events: auto;
}

body.blurring .page-header {
  pointer-events: none;
}

.dropdown-stub {
  display: block;
  height: 100%;
  font-size: 25px;
  position: absolute;
  top: 0;
}

.dropdown-stub .name-field {
  display: inline-block;
  float: left;
  vertical-align: top;
  cursor: pointer;
  height: 100%;
}

.dropdown-stub label {
  cursor: pointer;
  display: block;
  float: left;
  
  height: 100%;
  
  padding-right: 5px;
  padding-left: 8px;
  line-height: 40px;
  vertical-align: middle;
}

.dropdown-stub .arrow-down {
  display: block;
  float: right;
  
  background-size: 15px 15px;
  background-image: url('../image/arrow.png');
  background-repeat: no-repeat;
  background-position: center;
  
  width: 15px;
  height: 100%;
}

.dropdown-stub .buttons {
  display: inline-block;
  overflow: hidden;
  float: right;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.dropdown-stub .buttons-visible {
  opacity: 1.0;
}

.dropdown-stub .buttons-hidden {
  opacity: 0.0;
}

.dropdown-stub .buttons canvas {
  float: right;
  width: 26px;
  height: 26px;
  margin-top: 7px;
  margin-left: 10px;
  
  cursor: pointer;
  
  -webkit-transition: -webkit-transform 0.7s ease, border 0.4s ease;
  transition: transform 0.7s ease, border 0.4s ease;
}

.dropdown-stub .buttons-visible canvas {
  transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform: translate(0px, 0px) rotate(0deg);
}

.dropdown-stub .buttons-hidden canvas {
  transform: translate(-72px, 0px) rotate(-401deg);
  -webkit-transform: translate(-72px, 0px) rotate(-401deg);
}

.right-dropdown-stub {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}

.solve-statuses {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.solve-status {
  display: inline-block;
  
  height: 100%;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  
  cursor: pointer;
}

.solve-status-selected {
  color: #FFF;
}
