.slide-in-item {
  pointer-events: none;
  
  opacity: 1.0;
  transition: transform 1.0s ease, opacity 1.0s ease;
  -webkit-transition: -webkit-transform 1.0s ease, opacity 1.0s ease;
}

.slide-down-start {
  opacity: 0.7;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
}

.slide-up-start {
  opacity: 0.7;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}
