.login-signup {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-signup .circle {
  display: inline-block;
  margin-top: 100px;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.4);
}

.login-signup .circle .filler {
  width: 100%;
  height: 100%;
}

.login-signup .signin-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.login-signup h1 {
  display: block;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 0;
  font-size: 46px;
  color: #FFF;
}

.login-signup input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Open Sans', sans-serif;
  
  display: block;
  height: 44px;
  border-radius: 8px;
  border: none;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 22px;
}

.login-signup .signin-view input {
  width: 252px;
  padding-left: 48px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 7px 7px;
}

.login-signup .signin-view .username {
  background-image: url('../image/username.png');
}

.login-signup .signin-view .password {
  background-image: url('../image/password.png');
}

::-webkit-input-placeholder {
   color: #777777;
}

:-moz-placeholder {
   color: #777777;
}

::-moz-placeholder {
   color: #777777;
}

:-ms-input-placeholder {  
   color: #777777;
}

.login-signup input:focus {
  outline: 0;
}

.login-signup .signin-view .enter {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Open Sans', sans-serif;
  display: block;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 300px;
  height: 44px;
  margin-left: 50px;
  margin-bottom: 15px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #666666;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
}

.login-signup .signin-view .enter:hover {
  background-color: rgba(255, 255, 255, 1);
}

.login-signup .signin-view button:focus {
  outline: 0;
}

.login-signup .signin-view a {
  color: #FFF;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

.login-signup .signin-view .password-container {
  display: block;
  position: relative;
}

.login-signup .signin-view .password-container input {
  padding-right: 40px;
  width: 212px;
}

.login-signup .signin-view .help {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 320px;
  border: none;
  background-color: transparent;
  background-image: url('../image/help.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.login-signup .signup-view-page-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.login-signup .signup-view-page-1 input,
  .login-signup .signup-view-page-2 input,
  .login-signup .signup-view-page-3 input {
  width: 285px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 7px 7px;
}

.login-signup .signup-view-page-1 .enter,
  .login-signup .signup-view-page-2 .enter,
  .login-signup .signup-view-page-3 .enter {
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
  cursor: pointer;
}

.login-signup .signup-view-page-2 .enter {
  position: relative;
  top: 15px;
}

.login-signup .signup-view-page-2 {
  text-align: center;
}

.login-signup .signup-view-page-2 .image-container {
  margin-top: 40px;
  margin-bottom: 30px;
}

.login-signup .signup-view-page-3 .orfield {
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}

.login-signup .signup-view-page-3 .social-networks {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-signup .signup-view-page-3 .social-networks img {
  margin-left: 30px;
  margin-right: 30px;
}
