#pentagons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.uninitialized {
  opacity: 0.0;
}

body.before-load-animation #pentagons {
  position: fixed;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 0.0;
}

body.load-animation #pentagons {
  transition: width 1.0s ease, height 1.0s ease,
    left 1.0s ease, top 1.0s ease, opacity 1.0s ease;
  -webkit-transition: width 1.0s ease, height 1.0s ease,
    left 1.0s ease, top 1.0s ease, opacity 1.0s ease;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}

body.blurring #pentagons {
  transition: none;
  -webkit-transition: none;
}

body.blurred #pentagons {
  filter: url('../home.html#blur');
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  -moz-filter: blur(5px);
}
