.signup-steps {
  display: inline-block;
}

.signup-steps .step {
  float: left;
  
  width: 44px;
  height: 44px;
  border-radius: 24px;
  border: 2px rgba(255, 255, 255, 0.5) solid;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 44px;
  font-size: 25px;
  
  transition: border 0.5s ease, color 0.5s ease, background 0.5s ease,
    transform 0.5s ease;
  -webkit-transition: border 0.5s ease, color 0.5s ease, background 0.5s ease,
    -webkit-transform 0.5s ease;
  transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url('image/signup_empty.png');
}

.signup-steps .separator {
  float: left;
  
  width: 50px;
  height: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 23px;
  background-color: rgba(255, 255, 255, 0.5);
}

.signup-steps .loadbar {
  height: 100%;
  width: 0px;
  background-color: white;
  
  transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
}

.signup-steps .step-1, .signup-at-1 .step-2, .signup-at-2 .step-3 {
  color: white;
  border: 2px white solid;
}

.signup-at-1 .step-1, .signup-at-2 .step-1, .signup-at-3 .step-1,
    .signup-at-2 .step-2, .signup-at-3 .step-2, .signup-at-3 .step-3 {
  transition-delay: 0.0s;
  -webkit-transition-delay: 0.0s;
  border: 2px transparent solid;
  color: transparent;
  background-image: url('image/signup_check.png');
  background-color: rgb(133, 192, 95);
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.signup-at-1 .separator-1 .loadbar, .signup-at-2 .separator-1 .loadbar,
    .signup-at-2 .separator-2 .loadbar, .signup-at-3 .separator-1 .loadbar,
    .signup-at-3 .separator-2 .loadbar {
  width: 50px;
}
