#graph-settings {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #e6e6e6;
}

#graph-settings .title {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
}

#graph-settings .title label {
  display: inline-block;

  height: 40px;
  line-height: 40px;

  padding: 0 25px 0 10px;

  background-image: url('../../images/down_arrow.svg');
  background-size: 18px 18px;
  background-position: right center;
  background-repeat: no-repeat;

  color: white;
  font-size: 22px;
  font-weight: lighter;

  cursor: pointer;
}

#graph-settings .page {
  position: absolute;
  top: 40px;
  width: 100%;
}

#graph-settings .page-content {
  margin-left: 10px;
  width: calc(100% - 20px);
}

#graph-settings .name-value-labels {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  font-weight: lighter;
  font-size: 17px;
}

#graph-settings .name-label {
  float: left;
  color: #777;
}

#graph-settings .value-label {
  float: right;
  color: #777;
}

#graph-settings .mode-dropdown {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 130px;
  display: block;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 2px 2px rgba(153, 153, 153, 0.5);
  background: white;
}

#graph-settings .mode-dropdown > li {
  display: block;
  height: 30px;
  padding: 0 10px 0 30px;

  line-height: 30px;
  font-size: 19px;
  font-weight: lighter;

  color: #999;
  cursor: pointer;

  background-image: none;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

#graph-settings .mode-dropdown > li:hover {
  background-color: #f0f0f0;
}

#graph-settings .mode-dropdown > li.selected {
  background-image: url('../../images/check.svg');
}

#graph-settings .slider {
  position: relative;
  margin-top: 2px;
  height: 10px;
  width: 100%;
  cursor: pointer;
}

#graph-settings .slider .bulb-container {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
}

#graph-settings .slider .before-bulb {
  position: absolute;
  top: 4px;
  height: 2px;
  left: 0px;
}

#graph-settings .slider .bulb {
  position: absolute;
  top: 0;
  height: 10px;
  width: 4px;
  background-color: white;
}

#graph-settings .slider .background {
  position: absolute;
  top: 4px;
  height: 2px;
  width: 100%;
  background-color: #cccccc;
}

#graph-settings .view-modes {
  width: 100%;
  height: 30px;
  background-color: white;
}

#graph-settings .view-mode {
  float: left;
  width: 66px;
  height: 100%;
}

#graph-settings .view-mode svg {
  width: 100%;
  height: 100%;
}

#graph-settings .view-mode-0 {
  border-right: 1px solid #e6e6e6;
}

#graph-settings .view-mode-2 {
  border-left: 1px solid #e6e6e6;
}

#graph-settings .labeled-checkbox {
  margin-top: 10px;
  display: table;
  width: 100%;
}

#graph-settings .labeled-checkbox label {
  display: table-row;
  float: left;
  font-weight: lighter;
  font-size: 17px;
  color: #777;
}

#graph-settings .labeled-checkbox .checkbox {
  float: right;
}
