#times-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

.times-list-row {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  height: 30px;
}

.times-list-row:hover {
  background-color: #f0f0f0;
}

.times-list-row-not-pb {
  color: #999;
}

.times-list-row-content {
  display: inline-block;
  height: 30px;
  display: table;
}

.times-list-row-label {
  display: table-row;
  float: left;
  height: 30px;
  line-height: 30px;
}

.times-list-spacer {
  visibility: hidden;
}
