#times-list {
  overflow-y: scroll;
  overflow-x: hidden;
}

.times-list-row {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  height: 30px;
}

.times-list-row:hover {
  background-color: #f0f0f0;
}

.times-list-row-not-pb {
  color: #999;
}

.times-list-row-content {
  display: inline-block;
  height: 30px;
}

.times-list-row-label {
  float: left;
  height: 30px;
  line-height: 30px;
}

.times-list-spacer {
  visibility: hidden;
}

.times-list-loader {
  position: relative;
  height: 44px;
  width: 100%;
}

.times-list-reload, .times-list-spinner {
  width: 30px;
  height: 30px;

  position: absolute;
  left: calc(50% - 15px);
  top: 7px;
}
