#times {
  overflow-y: scroll;
}

#times .row {
  width: 100%;
  height: 40px;
}

#times .row > label.not-pb {
  color: #999;
}

#times .row > label {
  height: 40px;
  line-height: 40px;
  padding-left: 7px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

#times .row > button.delete {
  background-image: url('../../images/x.png');
  background-size: 100% 100%;
  float: right;
  margin: 12px 12px 0 0;
  width: 16px;
  height: 16px;
  visibility: hidden;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#times .row > button.delete:hover {
  background-image: url('../../images/x_hover.png');
}

#times .row:hover > button.delete {
  visibility: visible;
}
