.dropdownjs-preview {
  display: inline-block;
  height: 30px;
  cursor: pointer;
  text-align: left;
}

.dropdownjs-preview > .arrow {
  float: right;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('arrow.png');
  background-size: 100% 100%;
  
  /* Allow clicks to hit contents and pass through arrow. */
  pointer-events: none;
}

.dropdownjs-preview > label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  float: left;
  
  color: #999;
  width: calc(100% - 22px);
  padding-left: 7px;
  
  /* Allow clicks to hit contents. */
  pointer-events: none;
}

.dropdownjs-preview:hover > label {
  color: #777;
}

.dropdownjs-preview:hover > .arrow {
  background-image: url('arrow_hover.png');
}

.dropdownjs-menu-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 4px 2px rgba(144, 144, 144, 0.5);
}

ul.dropdownjs-menu {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.dropdownjs-menu li {
  width: calc(100% - 40px);
  list-style-type: none;
  padding: 0 10px 0 30px;
  margin: 0;
  
  color: #777;
  cursor: pointer;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.dropdownjs-menu li.checked {
  background-image: url('check.png');
  background-repeat: no-repeat;
  background-position: left left;
}

ul.dropdownjs-menu li:hover {
  background-color: #f0f0f0;
}
